/*
.header {
    background: #eeeeee;
    overflow: hidden;
}

a .logo {
  float: left;
  margin: 49px 200px 18px 140px; 
}

.nav li{
  float: left;
  list-style: none;
  margin-top: 83px;
  margin-right: 40px;
}

.nav li:nth-child(4) {
  margin-right: 0;
}  

.basket {
  margin-right: 140px;
  margin-left: 185px;
}

.basket img {
  margin-right: 20px;
}

.slider-item {
  clear: both;
  margin-left: 140px;
  overflow: hidden;
}

.slider-item img {
  float: right;
  margin-top: 20px;
  margin-right: 21px;
  outline: 1px solid red;
}

.slider-item h1 {  
  padding-top: 65px;
}

.slide1  h1{
  width: 376px;
}

.slide2 h1 {
  width: 515px;  
}

.slide3 h1 {
  width: 408px;
}

.slider-item p{
  padding-top: 10px;
  width: 400px;
  margin-bottom: 30px;
}

.slider-item .btn-red {
  width: 240px;
  height: 50px;
}

.links {
  overflow: hidden;
  width: 90px;
  padding-right: 676px;
  
}

.link {
  float: left;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #EBDF06;
  margin-right: 15px;
}

.link:last-child {
  margin-right: 0;
}

.wrapper {
  overflow: hidden;
  margin-top: 80px;
  margin-left: 140px;
}

.wrapper p {
  width: 250px;
}

.main-item section {
  float: left;
}

.websites, .application {
  margin-right: 100px;
}

.main-item h3 {
  margin-top: 30px;
}

.main-item p {
  margin-top: 26px;
}

.main-item .btn {
  width: 160px;
  height: 50px;
  margin-bottom: 80px;
}

.opportunities {
  clear: both;
  overflow: hidden;
  margin-top: 80px;
  padding-bottom: 80px;
  border-top: 2px solid #eeeeee;
  border-bottom: 2px solid #eeeeee;
}

.desc {
  float: left;
  margin-top: 80px;
}

.desc h2 {
  width: 650px;
}

  
.desc p {
  width: 630px;
}

.desc li {
  list-style: none;
  padding-bottom: 25px;
  margin-left: -40px;
}

.opportunities .red-stripe {
  display: inline-block;
  width: 25px;
  height: 2px;
  background-color: red;
  margin-bottom: 4px;
}

.warranty {
  float: left;
  margin-left: 100px;
  margin-top: 42px;
  overflow: hidden;
}

.warranty img,
.warranty h4 {
  padding-left: 10px;
}

.warranty li {
  list-style: none;
  float: left;
  width: 105px;
  margin-right: 9px;
  
}

.warranty li:last-child {
  margin-right: 0;
 }

.warranty li span {
  display: inline-block;
  padding-bottom: 20px;
}

.development {
  display: inline-block;
  clear: both;
  height: 180px;
  margin: 80px auto;
  border-bottom: 2px solid #eeeeee;
}

.development img {
  padding-right: 50px;
  padding-left: 50px;
  border-right: 2px solid #eeeeee;
}

.development img:last-child {
  padding-right: 0;
  border-right: none;
}

.development img:first-child {
  padding-left: 0;
}

.work:nth-child(3) {
  margin-bottom: 20px;
}



.address {
  width: 319px;
  background: #ffffff;
  padding-left: 50px;
  outline: 1px solid red;
}

.address h4 {
  margin-top: 55px;
}

.address p {
  margin-top: 35px;
}

.address a {
  display: inline-block;
  margin-bottom: 40px;
}

.address .btn-red{
  margin-bottom: 45px;
  width: 219px;
  height: 50px;
}

.footer {
  overflow: hidden;
}

.footer-social {
  float: left;
  margin-top: 69px;
  margin-left: 144px;
}

.footer-discont {
  float: left;
  margin-left: 140px;
}

.footer-discont h2 {
  margin-top: 78px;
}

.footer-discont p {
  margin-bottom: 76px;
}

.footer-social .social-btn {
  display: inline-block;
  vertical-align: middle;
  padding-right: 13px;
}

.form-hidden {
  overflow: hidden;
  width: 1039px;
  height: 669px;
  padding-left: 100px;
  background: #ffffff;
  border: 1px solid red;
}

.close {
  float: right;
  width: 20px;
  height: 20px;
  margin-top: 78px;
  margin-right: 90px;
  background: #000;
}

.form-hidden h3 {
  margin-top: 70px;
  clear: both;
}

.filter-group {
  overflow: hidden;
}

.your-name {
  margin-right: 40px;
}

.mail,
.your-name {
  float: left;
  width: 361px;
  margin-bottom: 40px;
}

.letter {
  float: left;
  width: 761px;
  
}

.filter-group input {
  width: 360px;
  height: 50px;
  margin-top: 15px;
  padding-left: 15px;
}

.letter input {
  width: 760px;
  height: 118px;
  margin-top: 15px;
  margin-bottom: 45px;
}

.form-hidden .btn-red {
  width: 260px;
  height: 50px;
} 
*/